h1 {
  color: rgb(31, 26, 27);
}
.degrees{
  position: relative;
  font-size: 14px;
  top: -12px;
}
.high {
  border: 4px solid rgb(122, 108, 108);
  padding: 10px;
  margin: 50%;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 500px;
  background:radial-gradient(circle at -2.2% -3.8%, rgba(255, 227, 2, 0.41) 0%, rgb(59, 188, 241) 100.2%);
  border-radius: 10px;
  }

.container header,
.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px;
}
.container header .my-button{
  border: 3px solid white;
  color: rgb(74, 63, 221);
  padding: 3px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.container header .my-button:hover{
  border: 1px solid green;
  color: green;
}

.container main .top {
  text-align: center;
}

.info-main:first-letter{
  text-transform: capitalize;
}

.container main .weather-info {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-around;
}
.container footer {
  justify-content: center;
}
h2 .active{
  color:rgb(20, 7, 7);
  cursor: default;
}
h2 .active:hover{
  text-decoration: none;
}
.weather-forecast{
  margin-top: 10px;
  text-align: center;
  color: #000;
}
.weather-forecast-date{
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatue{
font-size: 13px;
}
.weather-forecast-temperature-max{

}
.weather-forecast-temperature-min{
  opacity: 0.5;

}